<h1>Phonebook</h1>
<div class="jumbotron">
	<p>Search here for contacts by name, email, phone number, or company</p>
	<form class="form-inline" role="form">
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon">Search</div>
				<input class="form-control" type="text" ng-model='searchText.$'>
			</div>
		</div>
	</form>
</div>
<div class="row">
	<div class="col-sm-12">
		<h3>Available Contacts</h3>
		<div ng-repeat='message in messages' class="alert alert-{{message.type}}" role="alert" ng-show='messages && messages.length > 0'>{{message.message}}</div>
		<p class="muted" ng-show='!!searchText && searchResults && searchResults.length === 0'>No results found.</p>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat='contact in searchResults | filter:searchText' favorite-state contact='contact'>
				<span class="pull-right">
				<button ng-click='addToFavorites(contact)' class="btn btn-success ">
				Add Favorite <span class="glyphicon glyphicon-star"></span>
				</button>
				</span>
				<span class="pull-right">
				<a ng-href='#/details/{{contact.id}}' class="btn btn-default details">
					Details
				</a>
				</span>
				<p>{{contact.name}} (<a href='tel:{{contact.phone}}'>{{contact.phone}}</a>)</p>
			</li>
		</ul>
	</div>
</div>