<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Interface AngularJS Workshop</title>

		<meta name="description" content="A 4 hour workshop covering AngularJS">
		<meta name="author" content="Collin Forrester">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>


		<script src="js/angular.js"></script>
		<script src="js/angular-resource.js"></script>
		<script src="js/angular-messages.js"></script>

		<script type="text/javascript">
			angular.module('iaw', [
				'iaw.resource',
				'iaw.databinding',
				'iaw.directives',
				'iaw.dependency'
			]);
			angular.module('iaw.constants', [])
			.constant('BASE', 'http://localhost:1337');
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body ng-app="iaw">

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							# Hello!

							## Interface AngularJS Workshop
						</script>
					</section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							# Who Am I

							## Collin Forrester
							* Lead Software Engineer [@Valvora](https://twitter.com/valvora)
							* Co-Founder [@Visitu](https://twitter.com/getvisitu)
							* Android, iOS, Phonegap, Node
						</script>
					</section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							# Why Are We Here

							* Intro &amp; tooling
							* AngularJS overview, with a focus on 1.3
							* Sample project backend overview
							* Sample project overview
							* Coding - Components
							* Coding - Adding `$resource`
							* Coding - Directives
							* Coding - Staying DRY
							* Coding - Interceptors
							* Recap
						</script>
					</section>
				</section>
				<!-- section -->
				<section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							# Tooling

							[![Yeoman](http://yeoman.io/assets/img/tool-yo.c3b1.png)](https://github.com/yeoman/yo)
							[![Grunt](http://yeoman.io/assets/img/tool-grunt.4c67.png)](http://gruntjs.com/)
							[![Bower](http://yeoman.io/assets/img/tool-bower.058c.png)](http://bower.io/)
							[![NPM](https://www.npmjs.org/static/img/npm.png)](http://npmjs.org/)
						</script>
					</section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## Installing

							First, [install Node](http://nodejs.org/) and [git](http://git-scm.com/).  Then install everything else

							```
							npm install -g grunt-cli yo generator-angular bower
							```

							> Note - I will be using Sublime Text and Chrome.  You do not have to.  Use what you are best with.
						</script>
					</section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## Project Setup

							Clone the repo from github to somewhere on your machine.

							```
							git clone TODO
							```
							Install the local dependencies for both the sample project and the included API server

							```
							cd angular-workshop/server && npm install
							cd ../sample-project
							npm install && bower install
							```
							These slides can be found in `slides/`.
						</script>
					</section>
				<!-- end section -->
				</section>
				<!-- section -->
				<section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							# AngularJS

							Three big features to understand the ins and outs of:

							* Databinding
							* Dependency Injection
							* Directives
						</script>
					</section>
					<!-- Slide -->
					<script type="text/javascript">
					angular.module('iaw.databinding', [])
						.controller('DataBindingCtrl', function($scope) {
							$scope.data = '';
							$scope.once = 'abcd';
							$scope.debouncedModel = '';
						});
					</script>
					<section>
						<h2>Databinding</h2>

						<pre><code>&lt;input ng-model="data"></code></pre>
		
						<p ng-controller="DataBindingCtrl">
							<input ng-model="data"><br>
							data: {{data}}<br>
							<input ng-model="once"><br>
							once: {{::once}}
						</p>

						<p>New in 1.3: <code>ngModelOptions</code> and one time bindings</p>

						<pre><code>&lt;input ng-model="debouncedModel"></code></pre>

						<p ng-controller="DataBindingCtrl">
							<input ng-model="debouncedModel" ng-model-options="{debounce: 500}"><br>
							debouncedModel: {{debouncedModel}}
						</p>
					</section>
					<!-- Slide -->
					<script type="text/javascript">
					angular.module('iaw.directives', ['ngMessages'])
						.directive('myValidator', function($http, $q) {
							return {
				        require: 'ngModel',
				        link: function(scope, element, attrs, ngModel) {
			            ngModel.$asyncValidators.contactName = function(modelValue, viewValue) {
		                return $http
		                	.get('http://localhost:1337/api/contact/check?name='+viewValue)
		                	.then(
		                    function(response) {
	                        if (!response.data.nameAvailable) {
                            return $q.reject('Contact name taken');
	                        }
	                        return true;
		                    }
			                );
			            };
				        }
					    };
						});
					</script>
					<section>
						<h2>Directives</h2>


						<p>Directives are HTML markers that tell Angular to attach a specific behavior to that element.
						<code>ng-model</code>, <code>ng-view</code>, and <code>ng-repeat</code> are all directives.</p>

						<p>New in 1.3: <code>ngMessages</code> and (better) <code>custom validators</code></p>
					</section>
					<section>
						<p>
							<form name='exampleForm'>
								<input required type="text" name='contactName' ng-model="contactName" my-validator><br>
                <div ng-if="exampleForm.contactName.$dirty">
                  <ng-messages for="exampleForm.contactName.$error" class="">
                    <div ng-message="required">contact name required</div>
                    <div ng-message="contactName">contact name already in use</div>
                  </ng-messages>
                  <div ng-messages="exampleForm.contactName.$pending" class="">
                    <div ng-message="contactName">Checking contact name availability...</div>
                  </div>
                </div>
							</form>
						</p>
						<pre><code>&lt;input required type="text" name='contactName' ng-model="contactName" my-validator>&lt;br>
&lt;div ng-if="exampleForm.contactName.$dirty">
  &lt;ng-messages for="exampleForm.contactName.$error" class="">
    &lt;div ng-message="required">contact name required&lt;/div>
    &lt;div ng-message="contactName">contact name already in use&lt;/div>
  &lt;/ng-messages>
  &lt;div ng-messages="exampleForm.contactName.$pending" class="">
    &lt;div ng-message="contactName">Checking contact name availability...&lt;/div>
  &lt;/div>
&lt;/div></code></pre>
						<pre><code>return {
  require: 'ngModel',
  link: function(scope, element, attrs, ngModel) {
    ngModel.$asyncValidators.contactName = function(modelValue, viewValue) {
      return $http
      	.get('http://localhost:1337/api/contact/check?name='+viewValue)
      	.then(
          function(response) {
            if (!response.data.nameAvailable) {
              return $q.reject('Contact name taken');
            }
            return true;
          }
        );
    };
  }
};
						</code></pre>
					</section>
					<!-- Slide -->
					<script type="text/javascript">
					angular.module('iaw.dependency', [])
						.controller('DependencyCtrl', function($scope) {
						});
					</script>
					<section>
						<h2>Dependency Injection</h2>

						<pre><code>controller('DirectiveCtrl', function($scope)</code></pre>

						<p>New in 1.3: Strict DI Mode</p>

						<pre><code>angular.module("myApp", [])
.controller("BadController", function($scope, $http, $filter) {
});</code></pre>
						<pre><code>controller("GoodController2", [
  "$scope",
  "$http",
  "$filter",
  function($scope, $http, $filter) {
    // ...
  }
]);</code></pre>
					<pre><code>function GoodController1($scope, $http, $filter) {}
GoodController1.$inject = ["$scope", "$http", "$filter"];

angular.module("myApp", [])
.controller("GoodController1", GoodController1)</code></pre>
					</section>
				<!-- end section -->
				</section>

				<!-- section -->
				<section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							# Sample Project

							Scenario: We have been passed off an Angular application written under less than ideal conditions (no time or money).  It is our job to get it production ready.  The "backend team" has already finished the API (see `server/`).
						</script>
					</section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## Sample Project API Server

							[![SailsJS](http://sailsjs.org/#/)](https://camo.githubusercontent.com/9e49073459ed4e0e2687b80eaf515d87b0da4a6b/687474703a2f2f62616c64657264617368792e6769746875622e696f2f7361696c732f696d616765732f6c6f676f2e706e67)](http://sailsjs.org)

							* SailJS generated REST API
							* Basic CRUD end points available
							* Start with `cd server && node app.js`
							* Hit http://localhost:1337/api/contact in a browser to verify its up (should see some JSON data)
						</script>
					</section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## Sample Project

							* Generated using Yeoman
							* "legacy" Phonebook application
							* Common problems - Form validation, CRUD screens, error handling, caching
							* 3 routes: `/`, `/details:id/` and `/favorites`
							* One existing directive, no services
						</script>
					</section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## Sample Project

							![Not modular](images/not-modular.png)
						</script>
					</section>
				<!-- end section -->
				</section>
				<section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## Modules

							Angular modules helps keep your growing code base sane.

							```
							angular.module('myModule', []); // create myModule with no ([]) dependencies
							// elsewhere in unit test land
							beforeEach(module('myModule')); // load only myModule and its dependencies
							```

						</script>
					</section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## Lab 0 - Modules

							Task: Break the application into its appropriate functional modules / pieces.

							To get started: `git checkout step-0`

							> Tip : Use yeoman to make this way faster.. 
							>
							> `yo angular:route main`

							```
							➜  sample-project git:(lab-0) yo angular:route main
					 invoke   angular:controller:/usr/local/lib/node_modules/generator-angular/route/index.js
					 create     app/scripts/controllers/main.js
					 create     test/spec/controllers/main.js
					 invoke   angular:view:/usr/local/lib/node_modules/generator-angular/route/index.js
					conflict     app/views/main.html
					[?] Overwrite app/views/main.html? do not overwrite
					   skip     app/views/main.html
					   ```
						</script>
					</section>
				</section>
				<section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## `$http` and `$resource`

							* Angular has some built in services for making `$http` requests easier.
							* `$http` is your standard `XMLHttpRequest` API
							* `$resource` takes `$http` to the next level

						</script>
					</section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## `$resource`

							"A factory which creates a resource object that lets you interact with RESTful server-side data sources."

							```
							var Contact = $resource('/api/contact/:id', { id: '@id' });
							// Query all contacts
							var allContacts = Contact.query();
							// Get a specific contact
							var contactTwo = Contact.get({ id: 2 });
							// create a new contact instance
							var contact = new Contact({ firstName: 'Collin', lastName: 'Forrester' });
							contact.$save();
							```

						</script>
					</section>
					<!-- Slide -->
					<script type="text/javascript">
						angular.module('iaw.resource', ['ngResource', 'iaw.constants'])
							.factory('Contact', function($resource, BASE){
								var Contact = $resource(BASE + '/api/contact/:id', { id: '@id' }, {
									sms: {
										url: BASE + '/api/contact/:id/sms',
										method: 'GET',
										isArray: false
									}
								});
								var c = new Contact({id:1});
								c.$sms({ message: 'Hey!' });
								
								return Contact;
							})
							.controller('ResourceCtrl', function(Contact) {

							});
					</script>
					<section data-markdown>
						<script type="text/template">
							## `$resource` Custom Actions

							What if you have more than just the standard CRUD calls?

							```
							// Contact $resource from before, with SMS support
							var Contact = $resource('/api/contact/:id', { id: '@id' }, {
								sms: {
									url: '/api/contact/:id/sms',
									method: 'GET',
									isArray: false
								}
							});
							var contactInstance = new Contact({id:1});
							contactInstance.$sms({ message: 'Hey!' });
							// GET request
							// /api/contact/1/sms?message=Hey!
							```
						</script>
					</section>
					<!-- Slide -->
					<script type="text/javascript">
						angular.module('iaw.resource')
							.controller('ResourceCtrl', function($scope, $timeout, Contact) {
								$timeout(function() {
									$scope.contact = Contact.get({ id: 5 });
								}, 2000);
							});
					</script>
					<section ng-controller="ResourceCtrl">
							<h2>$resource Usage in Controllers</h2>

							<p>NEVER write another callback</p>

							<pre><code>.controller('ResourceCtrl', function($scope, Contact) {
	$scope.contact = Contact.get({ id: 5 });
});
</code></pre>

						Result (artifical delay added): <pre>Contact: {{contact|json}}</pre>
					</section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## Lab 1 - $resource

							Task: Refactor the current $http code into factories.  One factory for Contact and another for Favorite.

							To get started: `git checkout step-1`

							> Tip : Again, yeoman can help here...
							>
							> `yo angular:factory Contact`
							```
							➜  sample-project git:(lab-2) yo angular:factory Contact
							create app/scripts/services/contact.js
							create test/spec/services/contact.js
							```
						</script>
					</section>
				</section>
				<!-- new section -->
				<section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## Directives

							`favorite-state` directive tells the user if the contact is already in their favorites.

							```
							<li class="list-group-item" ng-repeat='contact in searchResults | filter:searchText' favorite-state contact='contact'>
							```

							```
							return {
								restrict: 'A',
								scope: {
									contact: '='
								},
								link: function(scope, element/*, attrs*/) {
									$http.get('/api/favorite').then(function(response) {
										var ids = _.map(response.data, function(fav) {
											return fav.contact.id;
										});
										if(ids.indexOf(scope.contact.id) > -1) {
											element.find('button').attr('disabled', 'disabled');
										}
									});
								}
							};
							```
						</script>
					</section>
				</section>
				<!-- end section -->
				<!-- new section -->
				<section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## App Notifications

							The current way user feedback is given has several downfalls

							Biggest issue is repeated code in every controller and view

							```
							function showMessage(message, type) {
								var id = Math.ceil(Math.random() * 99999999);
								$scope.messages.push({
									message: message,
									type: type,
									id: id
								});
								$timeout(function() {
									for(var i = 0; i < $scope.messages.length; i++) {
										if($scope.messages[i].id === id) {
											$scope.messages.splice(i, 1);
										}
									}
								}, 3000);
							}
							```

						</script>
					</section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## App Notifications

							One of the biggest signs of needing a directive is repeated code in controllers and views.

							Enter: `<notifications></notifications>`

							* Single instance of `<notifications></notifications>` directive
							* Controllers publish feedback to it via a shared service
							* Directive handles user interaction (close button) and closing automatically
						</script>
					</section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## Lab 2 - Notifications directive

							Task: Add a `<notifications></notifications>` directive and a `Notification` service that can
							be used between the controllers and directive to publish feedback messages.

							To get started: `git checkout step-2`

							> `yo angular:directive notifications`
							> 
							> `yo angular:factory Notification`
						</script>
					</section>
				</section>
				<!-- end section -->
				<!-- new section -->
				<section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## Checkpoint

							![Done](images/done-here.gif)

							* Unified notifications/app feedback to the user
							* Favorites directive is now sane
							* We have tests!

						</script>
					</section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## Not quite there

							![Not done](images/not-chips.png)

							* Error handling still copy pasted everywhere
							* Duplicate HTTP requests being made
							* No form validation

						</script>
					</section>
				</section>
				<!-- end section -->
				<!-- new section -->
				<section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## Easy Wins with Interceptors

							![interception](images/interception.gif)

							4 HTTP hooks to easily intercept requests - `request`, `response`, `requestError`, `responseError`

							* error handling (hint hint)
							* request signing (authentication)
							* Timestamping requests
							* Request recovery
							* Several other things that require asynchronous action before/after HTTP traffic

						</script>
					</section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## Handling Errors

							Our "backend team" has given us the luxury of consistent error messages and response formats.

							```
							{
	"message": "No phone number found for Queen Daniels"
							}
							```

							This lets us handle errors at the application level instead of in each individual controller (that option is still valid, too).

						</script>
					</section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## Handling Errors

							Old & busted
							```
							$http.get('/api/contact/1').then(function(response) {
								$scope.contactOne = response.data;
							}).catch(function(e) {
								// handle Error e
							})
							```
							New hotness
							```
							$scope.contactOne = Contact.get({ id: 1 }); // That's it.
							```

						</script>
					</section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## Creating our Error Interceptor

							```
							angular.module('iaw').factory('errorInterceptor', function($q, Notification) {
  return {
    'responseError': function(rejection) {
      Notification.error('There was a problem with your request: ' + rejection.data.message + ' (' + rejection.status + ')';
      return $q.reject(rejection);
    }
  };
});
							```
							Dont forget to add it to the interceptor array with `$httpProvider`

							```
angular.module('iaw').config(function($httpProvider) {
  $httpProvider.interceptors.push('errorInterceptor');
});
							```

						</script>
					</section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## Creating our Cache Invalidator Interceptor

							```
angular.module('iaw.interceptors', [])
  .config(function($httpProvider) {
    $httpProvider.interceptors.push('cacheInvalidator');
  })
  .factory('cacheInvalidator', function($cacheFactory) {
    return {
      'request': function(config) {
        if (config.method !== 'GET') {
          $cacheFactory.get('$http').removeAll();
        }
        return config;
      }
    };
  });
							```

							You can also define your interceptors in a sub module like this.

						</script>
					</section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							## Lab 3 - Adding Interceptors

							Tasks: 

							* Add a generic error handling interceptor that publishes the errors using our Notification service from lab 2.
							* Add a cache invalidating interceptor and update our `$resource`s to take advantage of Angulars built in cache.

							> `yo angular:factory cacheInvalidator`
							> 
							> `yo angular:factory errorInterceptor`
						</script>
					</section>
				</section>
				<!-- end section -->
				<section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							# Recap
							* Saw some new things from AngularJS 1.3
							* Split an "old" project into modules
							* Experienced the power of `$resource`
							* Added generic notifications
							* Explored some common interceptors
						</script>
					</section>
					<!-- Slide -->
					<section data-markdown>
						<script type="text/template">
							# Thank You
							
							## Collin Forrester
							
							#### [@cforrester07](https://twitter.com/cforrester07)
							#### [Email me](mailto:collin.forrester@gmail.com)
						</script>
					</section>
				</section>











				
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
